body {
    padding-top: 50px;
}

h1{
    margin-top:2rem;
    font-weight: 600;
}

.navbar{
    background-color: #14B7A6;
}

.btn{
    margin-top: 1rem;
}

.btn-m{
    background-color: #14B7A6;
    color: #fff;
    width: 40%;
    font-size: 15px;
}

.badge{
    background-color: #62A2F2;
    color: #fff;
    width: 5rem;
    font-size:13px;
}

.badge-y{
    background-color: #FBBC24;
    color: #fff;
    width: 5rem;
}

.card-body{
    display: flex;
    flex-direction:column;
}

.card-title{
    font-size:20px;
    font-weight: 600;
}
.card-text{
    font-size: 13px;
    font-weight: 300;
    color: black;
}

.card_set{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:3rem;
}

.f-label{
    margin-top: 1rem;
}

textarea{
    resize: none;
    height: 10rem;
}

.card {
    margin: 5rem auto;
    flex-direction: row;
    width: 50rem;
}
.card img {
  width: 70%;
}

.rooms{
    display: inline-flex;
}