{% extends "base.html" %} 
{% block main %}

<h1>Add New Property</h1>
<hr/>
<p>Please fill out this form to add a new property...</p>
<div class="form">
  <form action="{{url_for('create')}}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ form.title.label (class="font-weight-bold") }}
    {{ form.title (class="form-control")}}

    {{ form.description.label (class="f-label font-weight-bold")}}
    {{ form.description (class="form-control")}}

    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.bedrooms.label (class="f-label font-weight-bold")}}
        {{ form.bedrooms (class="form-control")}}
      </div>
      <div class="form-group col-md-6">
        {{ form.bathrooms.label (class="f-label font-weight-bold")}}
        {{ form.bathrooms (class="form-control")}}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.price.label (class="f-label font-weight-bold")}}
        {{ form.price (class="form-control")}}
      </div>
      <div class="form-group col-md-6">
        {{ form.type.label (class="f-label font-weight-bold")}}
        {{ form.type (class="custom-select mr-sm-2")}}
      </div>
    </div>

    {{ form.location.label (class="f-label font-weight-bold")}}
    {{ form.location (class="form-control")}}

    {{ form.photo.label (class="f-label font-weight-bold")}}
    {{ form.photo(class="form-control-file")}}<br>
    <button class="btn btn-primary" type="submit">Add Property</button>
  </form>
</div>

{% endblock %}